*.log
.metadata/
Servers/
.recommenders
.classpath
.springBeans
.settings
.project

*.sql
.idea
.iml
/out
logs/
test-output
alert_log
.factorypath
target/
/*.factorypath
.apt_generated
/velocity.log.1
*.gz
*.tmp
/card-web/card-web-admin/velocity.log.1
