spring:
  profiles:
    active: dev
  mvc:
    static-path-pattern: /static/**
    view:
      prefix: /WEB-INF/view
  http:
    converters:
      preferred-json-mapper: fastjson
  servlet:
    multipart:
      max-request-size: 10MB #最大请求大小
      max-file-size: 5MB #最大文件大小
  devtools:
    restart:
      enabled: false
      additional-paths: src/main/java
      exclude: static/**,WEB-INF/view/**
bdtd:
  mail:
    from-mail: personal.llei@aliyun.com
    from-mail-password: ASDll7582596$
    